<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://unpkg.com/tesseract.js@v2.0.2/dist/tesseract.min.js"></script>
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <title>Price Data</title>
  </head>
  <body>
    <section id="intro">
      <h1>Store Prices Database</h1>
      <h2>Instructions:</h2>
      <p>Type the item in the search bar that you are looking for. You can also add multiple items by separating each item with a semicolon.</p>
    </section>

    <section id="main">
      <section id="search" class="form-group">
        <h2>Search</h2>
        <form action="/" method="POST">
          <div class="form-item">
            <input id="search-bar" type="text" placeholder="Oranges; Bananas; Oatmeal" name="item"/>
          </div>
        </form>
      </section>

      <section id="data-input" class="form-group">
        <h2>Input New Item Data</h2>
        <form action="/data" method="POST">
          <div class="form-item">
            <label for="store">Which store are you reporting data for?</label>
            <select id="store" name="store">
              <option name="sainsburys" value="sainsbury's">Sainsbury's</option>
              <option name="waitrose" value="waitrose">Waitrose</option>
            </select>
          </div>
          <div class="form-item">
            <label for="item">Item</label>
            <input name="item" id="item" type="text" placeholder="Apples" />
          </div>
          <div class="form-item">
            <label for="price">Price</label>
            <input name="price" id="price" type="number" step="0.01" placeholder="1.65" />
          </div>
        
          <div class="form-item flex">
            <p id="radio-p">Select the options that apply to the price</p>
            <div id="check-div" class="flex">
              <div class="check-item">
                <input id="kilo" name="options" type="checkbox" value="kilo"></input>
                <label for="kilo">Price/kg</label>
              </div>
              <div class="check-item">
                <input id="pound" name="options" type="checkbox" value="pound"></input>
                <label for="pound">Price/lb</label>
              </div>
              <div class="check-item">
                <input id="dollar" name="options" type="checkbox" value="USD"></input>
                <label for="dollar">USD</label>
              </div>
              <div class="check-item">
                <input id="pounds" name="options" type="checkbox" value="GBP" checked></input>
                <label for="pounds">GBP</label>
              </div>        
            </div>
            
          </div>
          <div class="form-item">
            <input type="submit" />
          </div>
        </form>
      </section>

      <section id="chart">
        <div id="chart-div">
          <p id="cursor" hidden> <% if (locals.cursor){ %>
            <%= JSON.stringify(cursor) %>
          <% } %>  </p>
        </div>
      </section>
    </section>
    <!-- <script src="./dist/index.js"></script> -->
    <!-- <script src="js/tesseract.js"></script>
    <script src="js/app.js"></script> -->
    <script src="app.js"></script>
  </body>
</html>
