:root {
  --main-text-color: #f7fff7;
  --main-bg-color: #384e77;
  --form-bg-color: #18314f;
  --accent-color-red: #ff6b6b;
  --accent-color-silver: #848c8e;
  --table-green: #2ecc40;
  --submit-green: #86cb92;
}

@media (min-width: 760px) {
  #intro,
  #main {
    max-width: 720px;
  }
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: 1rem;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0.5rem;
  width: 100%;
}

section {
  margin: 1rem auto;
}

input,
select {
  height: 1rem;
  width: 100%;
  border-radius: 0.3rem;
  box-sizing: border-box;
  height: 1.5rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--accent-color-silver);
  margin-top: 0.3rem;
}

input[type='checkbox'] {
  width: 1.25rem;
}

input[type='submit'] {
  background-color: var(--accent-color-silver);
  color: var(--main-text-color);
  width: 50%;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid var(--accent-color-silver);
  text-transform: capitalize;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

th,
td {
  border: 1px solid var(--accent-color-silver);
}

.nav-item {
  margin: 0rem 0.5rem;
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-group {
  border: 2px solid var(--accent-color-silver);
  padding: 0rem 1rem;
}

.form-item {
  margin: 1rem 0rem;
}

.check-item {
  width: 50%;
}

.priceWeight {
  text-transform: none;
}

.highlight-green {
  background-color: var(--table-green);
}

.highlight-yellow {
  background-color: var(--table-yellow);
}

.no-highlight {
  background-color: var(--form-bg-color);
}

.rankBy {
  color: var(--table-green);
}

#intro {
  border-style: none;
}

#radio-p {
  margin-bottom: 0px;
}

#chart-div {
  width: 100%;
}

#main {
  border-style: none;
  border-width: 1px;

  background-color: var(--form-bg-color);
  padding: 1rem 2rem;
}

#intro,
#main {
  width: 50%;
}

#chart {
  text-align: center;
  width: 100%;
}

#data-input {
  margin-top: 0px;
}

#check-div {
  height: 50px;
}

#view-all-form {
  padding: 0rem 1rem;
}

#submit-div {
  align-items: center;
}
